.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 100vw;
  background-color: #f3f3f3;
  padding-bottom: 100px;
  .hero-text {
    font-size: 2rem;
    font-weight: 700;
    color: #a8a9ac;
    margin-bottom: 1rem;
    font-family: "Google Sans";
    span {
      color: #000;
    }
  }
  .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 width: 50%;
  }
  .input-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    
    width: 100%;
    transition: 0.4s;
    box-shadow: 0px 0px 10px #eee;
    input {
      width: 100%;
 
      border: none;
      outline: none;
      background-color: transparent;
      border-radius: 5px;
 
      font-family: "Google Sans";
      font-size: 1rem;
      font-weight: 500;
      color: #333;
      &::placeholder{
        color: #d0d0d2;

        font-family: "Google Sans";
      }
      
    }

    &:focus-within {
        transition: 0.5s;
        box-shadow: 0px 0px 50px #eee;
      }
  

  
  }
}
.data{
    width: 50%;
    small{
        font-family: "Google Sans";
        font-size: 1rem;
        font-weight: 500;
        color: #333;
        margin-bottom: 1.2rem;
        margin-top: 1.2rem;
    
    }
}
.data-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    .data-item{
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        background-color: #fff;
        padding: 15px 20px;
        border-radius: 5px;
        margin-bottom: 1rem;
   
        transition: 0.4s;
        
        box-shadow: 0px 0px 10px #eee;
        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 20px;
        }
        .data-item-text{
            font-family: "Google Sans";
            font-size: 1rem;
            font-weight: 500;
            color: #333;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .data-item-icon{
            color: #a8a9ac;
            font-size: 1.5rem;
        }
        a{
            text-decoration: none;
            color: #333;
            font-size: 18px;
        }
        
        .loc{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 5px 10px;
            border-radius: 10px;
            background-color: #f3f3f3;
            margin-left: 10px;
        }

        &:hover{
            transition: 0.5s;
            box-shadow: 0px 0px 50px #eee;
        }
    }

}

.loader {
    width: 21px;
    height: 21px;
    border: 3px solid #aaa;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 


    .slide-up{
        animation-name: slideFadeUp;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
      }
      .slide-up1{
        animation-name: slideFadeUp;
        animation-duration: 0.6s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
      }
      @keyframes slideFadeUp {
        0% {
          transform: translateY(50px);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      
      }
      .slide-down {
        animation-name: slideFadeDown;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
      }
      
      @keyframes slideFadeDown {
        0% {
            transform: translateY(0);
            opacity: 1;
        }
        100% {
            transform: translateY(50px);
            opacity: 0;
        }
      }
      
      
      